Source: ros-hydro-pr2-mannequin-mode
Section: misc
Priority: extra
Maintainer: Laura Lindzey <lindzey@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-pr2-controller-manager, ros-hydro-pr2-controllers-msgs, ros-hydro-trajectory-msgs
Homepage: http://wiki.ros.org/pr2_mannequin_mode
Standards-Version: 3.9.2

Package: ros-hydro-pr2-mannequin-mode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-controller-manager, ros-hydro-pr2-controllers-msgs, ros-hydro-trajectory-msgs
Description: The pr2_mannequin_mode package
